<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="clientID" value="124e5462-5b67-4cbd-9dae-50abb86c7250"/>
    <add key="authority" value="https://login.microsoftonline.com/61f8ca36-2f1d-45a4-a94d-a3a591cc6954"/>
    <add key="scope" value="api://localhost/124e5462-5b67-4cbd-9dae-50abb86c7250/access_as_user"/>
    <add key="tokenCachePath" value="C:\Users\DHAKUMAR\AppData\Roaming\Micro Focus\Content Manager\OfficeIntegration"/>
  </appSettings>
</configuration>