<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="clientID" value="YOUR_CLIENT_ID"/>
    <add key="authority" value="https://login.microsoftonline.com/TENANT_ID"/>
    <add key="scope" value="{APPLICATION_ID_URI}/access_as_user"/>
    <add key="tokenCachePath" value="C:\Users\DHAKUMAR\AppData\Roaming\TokenCache"/>
    <add key="serviceAPIURL" value="https://localhost/CMServiceAPI"/>
  </appSettings>
</configuration>